#!/usr/bin/env python3

name: CI/CD
on: push
jobs:
  convert_via_pandoc:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: true
          devbox-version: 0.14.0
          disable-nix-access-token: true
      - name: Build
        run: devbox run -- just
      - name: Upload to Website
        run: .github/scripts/upload_cv.py
        env:
          TOKEN_TO_UPLOAD: ${{ secrets.TOKEN_TO_UPLOAD }}
